*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

.user_signup{
    width: 100%;
    height: 100vh;
    position: relative;
}

.register{
    width: 100%;
    height: 14.3%;
    background-color: #fdecf1;
    border-bottom: 2px solid rgb(240, 167, 10);
    display: flex;
}

.register h2{
    padding: 35px 5px 5px 20px;
    font-size: 30px;
    color: rgb(240, 167, 10);
}

.register .buttons{
    position: absolute;
    left: 80%;
    top: 39px;
}

.buttons button{
    margin: 10px;
    padding: 7px 15px;
    background-color: rgba(128, 128, 128, 0.548);
    border-style: none;
    font-size: 16px;
    border-radius: 1px;
}

.buttons button:hover{
    border: 2px solid rgb(240, 167, 10);
    border-bottom: #fff;
    background-color: #fff;
    color: rgb(240, 167, 10);
    border-radius: 3px;
    font-weight: bold;
}

.Userinfo{
    display: flex;
}

.Userinfo .user_info{
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 48%;
    top: 140px;
    padding-left: 20px;
    width: 41%;
}

.user_info h2{
    font-size: 35px;
    margin-bottom: 30px;
}

.user_info input{
    margin: 8px 30px 8px 0px;
    padding: 15px;
    width: 55%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.user_info .captain_name{
    display: flex;
}

.user_info .number{
    display: flex;
}

.user_info .password{
    display: flex;
}

.user_info .role{
    width: 60%;
    margin-top: 10px;
}

.user_info label{
    margin-right: -75px;
}

.role input[type='radio']{
    margin-right: -85px;
    
}

.image img{
    position: absolute;
    margin-top: 50px;
    left: -13px;
}

#rider{
    position: absolute;
    top: 83%;
    font-size: 32px;
}


.user_info button{
    width: 95%;
    padding: 11px;
    margin-top: 30px;
    /* margin-left: 30%; */
    background-color:rgb(240, 167, 10); 
    color: #fff;
    border-style: none;
    font-size: 19px;
    cursor: pointer;
    /* font-weight: bold; */

}

.user_info button:hover{
    color:black;
    background-color: rgba(240, 167, 10, 0.938);
}

.signedup{
    position: relative;
    left: 24%;
    top: 15px;
}
.signedup h5{
    color: #706f6f;
}

.signedup .link{
    text-decoration: none;
}

.link span{
    color: rgb(72, 83, 231);
}
